// font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

// variables
$fnt-clr: #260101;
$fnt-sz: 0.875rem;
$bckgrnd-clr: #F2EAD0;
$brnd-clr: #D96C75;
$sm-clr: #D9C6BA;
$clr-gry: #d6d6d6;
$fnt-fmly: 'Quicksand', sans-serif;
$mn-shdw: 0 1px 5px rgba(0, 0, 0, 0.75);
$bx-shdw: 1px 6px 6px -6px rgba(0, 0, 0, 0.75);
$frm-shdw: 0px 4px 18px 8px rgba(0, 0, 0, 0.3);
$lttr-spcng: 0.1rem;
$trnstn: all 0.3s linear;
$nvbr-trns: 0.5s ease-in-out;
$brdr-rds: 0.25rem;
$brdr-rds-2: 0.75rem;
$brdr-rds-3: 25px;
$mx-wdth: 1140px;
$bckgrnd-trnsprnt-1: rgba(248, 248, 248, 0.6);
$bckgrnd-trnsprnt-2: rgba(248, 248, 248, 0.75);
