.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: $trnstn;

  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }

  .upload-icon {
    font-size: 5rem;
  }

  .file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .file-info {
    text-align: center;
  }

  .file-name {
    color: $clr-gry;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .image-upload {
    margin-right: 0.5rem;
  }
}
