@mixin link {
  transition: $trnstn;
  display: inline-block;

  a {
    color: $fnt-clr;
  }
}

.menu-link {
  @include link;
  margin: 0.5rem;

  a:hover {
    color: $brnd-clr;
  }
}

.footer-link {
  @include link;
  margin-right: 0.5rem;
}

@media (min-width: 800px) {
  .menu-link {
    margin: 1rem;
    align-self: center;

    &:hover {
      padding-left: 0;
    }
  }

  .footer-link {
    margin-right: 1rem;
  }
}
