.loading {
  overflow: hidden;
  background: rgba(242, 234, 208, 0.46);
  height: 100vh;
  z-index: 3;
  display: grid;
  place-items: center;
}

.load-wrapper {
  background: rgba(242, 234, 208, 0.46);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  transform: scale(0);
  transition: $nvbr-trns;
  display: grid;
  place-items: center;
}

.load-wrapper.open {
  visibility: visible;
  z-index: 12;
  transform: scale(1);
}

.loader {
  width: 6rem;
  height: 6rem;
  border: 4px solid $sm-clr;
  border-radius: 50%;
  border-top-color: $brnd-clr;
  animation: spinner 0.6s linear infinite;
}
