.nav-center {
  width: 100%;
  position: absolute;
  background-color: $bckgrnd-clr;
  transition: $nvbr-trns;
  z-index: 1;

  &:before {
    content: '';
    display: block;
    flex: 1;
  }

  &:after {
    content: '';
    display: block;
    flex: 1;
  }
}

.nav-header {
  justify-content: space-between;
  margin: 0 0.5rem;
}

.nav-toggle {
  display: flex;
  align-self: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 0;
  background: transparent;
  color: $brnd-clr;
  transition: $trnstn;
  cursor: pointer;
}

.nav-menu {
  text-align: start;
  font-size: 1rem;
  height: 0;
  overflow: hidden;
  transition: $trnstn;

  .links-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.show-menu {
  height: 12rem;
  padding: 0 0.5rem;
  box-shadow: $bx-shdw;
}

@media (min-width: 800px) {
  .nav-center {
    display: flex;
    justify-content: space-around;
    height: auto;
    flex: 0 0 auto;

    .nav-content {
      display: flex;
      justify-content: space-around;
      max-width: $mx-wdth;
      width: 100%;

      .nav-toggle {
        display: none;
      }

      .nav-menu {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex: 1;

        .links-container {
          flex-direction: row;
          justify-content: space-evenly;
          flex: 1;
          margin: 0 2rem;
        }
      }
    }
  }
}

.sticky-nav {
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: $bx-shdw;
}

.animate-nav {
  animation: navBar-slideIn 0.3s ease-in-out;
}
