/* Shelf */
@mixin show-shelf {
  max-width: $mx-wdth;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shelf-container {
  @include show-shelf;
  gap: 1rem;
  flex-flow: column nowrap;
}

.empty-shelf {
  @include show-shelf;
  place-items: center;

  .error-message {
    justify-content: center;
    width: 60vw;
    margin: 2rem auto;
    height: 50vh;
  }
}

@media (min-width: 800px) {
  .shelf-container {
    flex-flow: row wrap;
    gap: 1.5rem;
    padding: 1rem;
  }
}
